@font-face {
	font-family: 'Cairo';
	src: url('../fonts/Cairo Regular.eot');
	src: local('☺'), url('../fonts/Cairo Regular.woff') format('woff'), url('../fonts/Cairo Regular.ttf') format('truetype'), url('../fonts/Cairo Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../fonts/georgia.eot');
	src: local('☺'), url('../fonts/georgia.woff') format('woff'), url('../fonts/georgia.ttf') format('truetype'), url('../fonts/georgia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../fonts/georgiab.eot');
	src: local('☺'), url('../fonts/georgiab.woff') format('woff'), url('../fonts/georgiab.ttf') format('truetype'), url('../fonts/georgiab.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('☺'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





body {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.75px;
	font-weight: normal;
	color: #313131;
	font-family:Georgia, serif;
	background-color: #fff;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a{
	display: inline-block;
	text-decoration: none;
	font-family: inherit;
	color: inherit;
	line-height: inherit;
	font-size: inherit;
	text-transform: inherit;

}
.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	padding: 100px 135px;
}

.header__top {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 95px;
}
.header__logo {
	font-size: 35px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.header__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav {
	min-width: 60%;
}
.header__list {
	display: flex;
	justify-content: space-between;
}
.header__list-item {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: #6e6e6e;
	transition: all 0.3s linear;

	position: relative;
}
.header__list-item:hover {
	color: #000;
	transform: scale(1.3);
	cursor: pointer;
}
.header__list-top {
	
}
.header__inner-list {
	position: absolute;
	background-color: #e6eef0;
	width: 100%;
}
.header__inner-item {
	border: 1px solid #333;
	border-radius: 3%;
	padding: 2px;
	font-size: 14px;
	line-height: 16px;
}
.header__search {

}
.header__input {}
.header__inner-list {
	display: none;
}

.opened{
	display: block;
}

/*      slider            */

.slider {
	background-color: #baf9c4;
	margin-bottom: 100px;
}
.container {}
.slider__inner {
	padding: 100px 95px;
}
.slider__btn {
	position: absolute;
}
.slider__prev {}
.slider__block {
	display: flex;
}
.slider__content {
	/*display: flex;*/
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 50%;
	margin-right: 100px;
}
.slider__time {
	font-family:Cairo, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.slider__title {
	font-size: 36px;
	line-height: 60px;
	font-weight: bold;
	color: #000;
	margin: 0;
	text-transform: uppercase;
}
.slider__text {
	line-height: 24px;
	font-weight: normal;
	color: #6e6e6e;
	min-height: auto;
	margin-bottom: 20px

}
.black__button {
	background-color: #000;
	color: #fff;
	line-height: 24px;
	padding: 15px 40px 15px 25px;
	/*width: auto;*/
	min-width: 150px;
	text-transform: uppercase;
	transition: all 0.5s ease;
}
.black__button:hover {
	background-color: #6e6e6e;
	cursor: pointer;
}
.slider__image {
	flex-basis: 50%;
	margin:-180px 0 -180px;
}
.slider__image img {

}
.slider__next {}

/********bests*****************/

.bests {
	margin-bottom: 100px;
}
.bests__inner {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
.bests__item {
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
}
.bests__item:hover {
	transform: scale(110%);
	z-index: 2;
}
.bests__item_1 {
	background-image: url(../images/bests1.png);
	grid-column: 1 / 5;
	grid-row: 1 / 2;
	padding: 100px 0px 100px 30px;
}
.bests__item_2 {
	background-image: url(../images/bests2.png);
	grid-column: 5 / 7;
	grid-row: 1 / 3;
	padding: 320px 0px 40px 30px;
}
.bests__item_3 {
	background-image: url(../images/bests3.png);
	grid-column: 1 / 5;
	grid-row: 2 / 4;
	padding: 270px 0px 140px 30px;
}
.bests__item_4 {
	background-image: url(../images/bests4.png);
	grid-column: 5 / 7;
	grid-row: 3 / 4;
	padding: 40px 0px 160px 30px
}
.bests__item-title {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	color: #000;
}
.best__item-link {
	font-size: 10px;
	line-height: 24px;
	text-transform: uppercase;
}
.best__item-link:hover {
	text-decoration: underline;
}


/******************products*********************/

.products {
	margin-bottom: 35px;
}
.products__inner {}
.products__header {
	text-align: center;
	margin-bottom: 100px;
	text-transform: uppercase;
	font-family: Cairo, sans-serif;
}
.products__title {
	font-size: 30px;
	font-weight: bold;
	margin: 0px  0px 30px;
}
.products__text {
	color: #6e6e6e;
}
.products__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.products__item {
	
}
.products__item_1 {}
.product {
	display: flex;
	flex: 0 0 32%;
	flex-direction: column;
	margin-bottom: 60px;
	font-weight: normal;
	text-transform: uppercase;
	max-height: 450px;
	overflow: hidden;
}
.product:hover {
	box-shadow: 2px 2px 10px #ccc;
}
.product:hover .product__image:after {
	display: block;
}
.product:hover .product__buttons {
	display: flex;
	/*opacity: 1;*/
}
.product:hover .product__image {
	height: 260px;
}
.product__image {
	position: relative;
	height: 380px;
	transition: all 0.7s ease;
}
.product__image:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	height: 100%;
	width: 100%;
	background-color: rgba(210,251,251, 0.8);
	display: none;
}
.product__img {
	/*height: 380px;*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}

.product__buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	z-index: 2;
	transition: all 0.7s ease 0.2;
	display: none;
	/*opacity: 0;*/
}
.product__btn {
	text-transform: uppercase;
	border: 1px solid #000;
	padding: 13px 23px;
}
.product__btn:hover {
	border: 1px solid #fff;
	cursor: pointer;
}
.product__btn_add {
	background-color: #000;
	margin-bottom: 10px;
	color: #fff;
}
.product__btn_show {
	background-color: rgba(255, 255, 255, 0.2);
}
.product__bottom {
	padding: 20px 30px;
}
.product__description {
	display: flex;
	flex-direction: row;
	margin-bottom: 25px;
}
.product__description-title {
	flex: 1 0 70%;
	
}
.product__descriprion-text {
	font-weight: normal;
	color: #8b8b8b;
}
.product__price {
	flex: 1 0 30%;
	display: flex;
	align-items: center;
	justify-content: right;
	font-family: Cairo, sans-serif;
	font-size: 24px;
	color: #00cccc;
}
.product__sizes {
	margin-bottom: 20px;
}
.product__sizes-title {}
.product__sizes-text {
	color: #8b8b8b;
}
.product__colors {}
.product__colors-title {
	margin-bottom: 5px;
}
.product__colors-examp {
	display: flex;
	justify-content: flex-start;
}
.product__colors-color {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
	
}
.product__colors-color_1{
	background-color: #ff0033;
}
.product__colors-color_2{
	background-color: #ff4200;
}
.product__colors-color_3{
	background-color: #6666cc;
}

/*****************shopping*********************/

.shopping {
	background-image: url(../images/shopping.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50% 100%;
}
.shopping__wrapper{
	display: flex;
	/*max-width: 50%;*/
}
.shopping__inner {
	display: flex;
	flex: 0 0 40%;
	flex-direction: column;
	padding: 150px 140px 150px 15px;
	text-transform: uppercase;
}
.shopping__only {
	font-size: 18px;
	margin-bottom: 20px;
}
.shopping__title {
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 25px 0;
}
.shopping__link {
	font-family: Cairo, sans-serif;
	font-size: 18px;
	color: #666666;
}
.shopping__link:hover {
	text-decoration: underline;
}

/*******************offers************************/

.offers {
	padding-top: 290px;
	background-image: url(../images/offers.png);
	background-repeat: no-repeat;
	background-position: 60% 100%;
	margin-bottom: 100px;
}
.offers__inner {
	display: flex;
}
.offers__content {
	flex: 0 0 50%;
	padding: 50px 0px 55px 15px;
}
.offers__title {
	font-size: 36px;
	line-height: 52px;
	text-transform: uppercase;
	margin: 0px 0px 50px;
}
.offers__text {
	font-size: 18px;
	line-height: 30px;
	color: #6e6e6e;
	margin-bottom: 120px;
}
.offers__button {}
.offers__image {
	flex: 0 1 50%;
	border-top: 3px solid #000;
	border-right: 3px solid #000;
	border-bottom: 3px solid #000;
	z-index: -1;
}


/************************form*********************/

.form {
	margin-bottom: 100px;
}
.form__inner {
	display: flex;
	align-items: baseline;
}
.form__text {
	flex: 1 1 50%;
	font-family:Cairo, sans-serif;
	text-transform: uppercase;
	padding-left: 15px;
}
.form__intputs {
	flex: 1 1 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	padding-right: 30px;
}
.form__email {
	padding: 20px;
	width: 280px;
	font-family:Cairo, sans-serif;
	color: #6e6e6e;
	text-transform: uppercase;
	border: 1px solid #000;
	margin-bottom: 5px;
	outline-color: #55dddd;
}
.form__email:hover {
	border-color: #55dddd;
}
.form__submit {
	background-color: #000;
	color: #fff;
	padding: 20px 30px;
	text-transform: uppercase;
	border: 1px solid #000;
}
.form__submit:hover {
	border-color: #55dddd;
	cursor: pointer;
	text-decoration: underline;
}

/****************footer***********************/

.footer {
	padding: 100px 0;
	border-top: 1px solid #ddd;
}
.footer__wrapper {
	padding: 0px 30px;
	display: flex;
	align-items: center;
}
.footer__logo {
	flex: 0 0 20%;
	justify-self: flex-start;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.footer__logo a:hover {
	cursor: pointer;
}
.footer__list {
	flex: 0 0 60%;
	/*padding: 0px 20px;*/
}
.footer__list-inner {
	display: flex;
	justify-content: space-evenly;
}
.footer__list-item {
	line-height: 30px;
	text-transform: uppercase;
	color: #6e6e6e;
}
.footer__list-item a:hover {
	color: #000;
}
.footer__social {
	flex: 0 0 20%;
	display: flex;
	justify-content: space-between;
}
.footer__social-text {
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.footer__social-links {
	flex: 0.5 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__social-link {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #6e6e6e;
}
.footer__social-link:hover {
	cursor: pointer;
}
.footer__social-facebook {}
.footer__social-twitter {}