@font-face {
  font-family: 'icomoon';
  src:  url('../icons/fonts/icomoon.eot?a3z8ap');
  src:  url('../icons/fonts/icomoon.eot?a3z8ap#iefix') format('embedded-opentype'),
    url('../icons/fonts/icomoon.ttf?a3z8ap') format('truetype'),
    url('../icons/fonts/icomoon.woff?a3z8ap') format('woff'),
    url('../icons/fonts/icomoon.svg?a3z8ap#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}



.icon-search_icon:before {
  content: "\f002";
}
.icon-twitter_icon:before {
  content: "\f099";
}
.icon-angle-right_icon:before {
  content: "\f105";
}
.icon-angle-down_icon:before {
  content: "\f107";
}
.icon-facebook-official_icon:before {
  content: "\f230";
}


/*@font-face {
	font-family: 'Cairo';
	src: url('../fonts/Cairo Regular.eot');
	src: local('☺'), url('../fonts/Cairo Regular.woff') format('woff'), url('../fonts/Cairo Regular.ttf') format('truetype'), url('../fonts/Cairo Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family: 'Georgia';
	src: url('../fonts/georgia.eot');
	src: local('☺'), url('../fonts/georgia.woff') format('woff'), url('../fonts/georgia.ttf') format('truetype'), url('../fonts/georgia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../fonts/georgiab.eot');
	src: local('☺'), url('../fonts/georgiab.woff') format('woff'), url('../fonts/georgiab.ttf') format('truetype'), url('../fonts/georgiab.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('☺'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





body {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.75px;
	font-weight: normal;
	color: #313131;
	font-family:Georgia, serif;
	background-color: #fff;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a{
	display: inline-block;
	text-decoration: none;
	font-family: inherit;
	color: inherit;
	line-height: inherit;
	font-size: inherit;
	text-transform: inherit;

}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
/********************header*******************/

.header {
	padding: 100px 135px;
}
@media(max-width :1440px) {
	.header {
		padding: 75px 85px;
	}
}
@media(max-width :1024px) {
	.header {
		padding: 50px 60px;
	}
}
@media(max-width :762px) {
	.header {
		padding: 30px 40px;
	}
}
@media(max-width :425px) {
	.header {
		padding: 20px 30px;
	}
}
.header__top {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 95px;
}
@media(max-width :1024px) {
	.header__top {
		margin-bottom: 60px;
	}
}
@media(max-width :762px) {
	.header__top {
		margin-bottom: 40px;
	}
}
@media(max-width :762px) {
	.header__top {
		margin-bottom: 20px;
	}
}
.header__logo {
	font-size: 35px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.header__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
.header__nav {
	/*min-width: 60%;*/
	flex: 1 0 70%;
	margin-right: 50px;
}
@media(max-width :650px) {
	.header__nav {
		display: none;
	}
}
.header__list {
	display: flex;
	justify-content: space-between;

}
@media(max-width :650px) {
	.header__list {
		flex-direction: column;
		align-items: center;
	}
}

.header__list-item {
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #6e6e6e;
	transition: all 0.3s linear;
	margin-right: 10px;
	position: relative;
}
@media(max-width :650px) {
	.header__list-item:not(:first-child) {
		margin-top: 5px;
	}
}
.header__list-item:hover {
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}
.header__list-top_link:after {
	font-family: icomoon;
	content: '\f107';
	position: absolute;
	right: -17px;
}
.header__list-top {
	display: flex;
	position: relative;
}
.header__inner-list {
	position: absolute;
	background-color: rgba(110,110,110,0.1);
	display: flex;
	flex-direction: column;
	min-width: 100%;
}
.header__inner-item {
	border: 1px solid #333;
	border-radius: 2%;
	padding: 2px;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	justify-content: center;
}
.header__inner-item a:hover {
	text-decoration: underline;
}
.header__search {
	flex: 0 0 20%;
	display: flex;
	justify-content: end;
	margin:15px 1px;
	position: relative;
	/*background-color: #fff;*/
}
.header__search:before {
	font-family: icomoon;
	content: "\f002";
	position: absolute;
	top: 1px;
	left : 55px;
}
@media(max-width :1340px) {
	.header__search:before {
		left: 5px;
	}
}
@media(max-width :1024px) {
	.header__search:before {
		left: -13px;
	}
}
.header__input {
	border: none;
	/*padding-left: 5px;*/
}
.header__inner-list {
	display: none;
}
.header__accordeon {
	display: none;
	width: 30px;
	height: 20px;
	background-color: #333;
}
@media(max-width :650px) {
	.header__accordeon {
		display: flex;
	}
}
.show__nav {
	display: block;
}
.opened{
	display: block;
}

/*      slider            */

.slider {
	background-color: #baf9c4;
	padding: 50px 35px;
	margin-bottom: 100px;
	background-image: url(../images/slider.png);
	background-repeat: no-repeat;
	background-position: 60% 0%;
}
@media(max-width :768px) {
	.slider {
		padding-bottom: 15px;
		margin-bottom: 50px
	}
}
@media(max-width :680px) {
	.slider {
		background-position: 80% 0%;
		padding-top: 25px;
		margin-bottom: 25px;
	}
}
@media(max-width :570px) {
	.slider {
		background-position: 100% 0
	}
}
@media(max-width :500px) {
	.slider {
		margin-bottom: 5px;
	}
}
@media(max-width :435px) {
	.slider {
		background-image: none;
		padding: 0px 15px;
	}
}
.slider__wrapper {
	height: 450px;
	overflow: hidden;
	position: relative;
}
@media(max-width :570px) {
	.slider__wrapper {
		height: 350px;
	}
}
@media(max-width :400px) {
	.slider__wrapper {
		height: 300px;
	}
}
.slider__wrapper:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #000;
	padding: 0;
	background-color: #fff;
}
.slider__inner {
	transition: margin-top 0.7s ease-out;
}
.slider__btn {
	position: absolute;
	right: 0px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	padding: 0;
	background-color: #000;
}
.slider__prev {
	top: 43%;
}
.slider__next {
	top: 60%;
}
.slider__block {
	display: flex;
	height: 450px;
}
@media(max-width :570px) {
	.slider__block {
		height: 350px;
	}
}
@media(max-width :400px) {
	.slider__block {
		height: 300px;
	}
}
.slider__content {
	/*display: flex;*/
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 50%;
	margin-right: 100px;
}
@media(max-width :570px) {
	.slider__content {
		flex-basis: auto;
	}
}
@media(max-width :435px) {
	.slider__content {
		margin-right: 0;
	}
}
.slider__time {
	font-family:Cairo, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 25px;
	text-transform: uppercase;
}
@media(max-width :570px) {
	.slider__time {
		margin-bottom: 5px
	}
}
@media(max-width :680px) {
	.slider__time {
		font-size: 20px;
		margin-bottom: 15px;
	}
}
.slider__title {
	font-size: 36px;
	line-height: 60px;
	font-weight: bold;
	color: #000;
	margin: 0;
	text-transform: uppercase;
}
@media(max-width :768px) {
	.slider__title {
		font-size: 30px;
		line-height: 40px;
	}
}
@media(max-width :680px) {
	.slider__title {
		font-size: 25px;
		line-height: 30px;
	}
}
@media(max-width :500px) {
	.slider__title {
		margin-bottom: 5px;
	}
}
.slider__text {
	line-height: 24px;
	font-weight: normal;
	color: #6e6e6e;
	min-height: auto;
	margin-bottom: 20px
}
@media(max-width :680px) {
	.slider__text {
		line-height: 20px;
	}
}
@media(max-width :570px) {
	.slider__text {
		color: #000
	}
}
.black__button {
	background-color: #000;
	color: #fff;
	line-height: 24px;
	padding: 15px 40px 15px 25px;
	/*width: auto;*/
	min-width: 150px;
	text-transform: uppercase;
	transition: all 0.5s ease;
	position: absolute;
}
.black__button:after {
	font-family: icomoon;
	content: "\f105";
	position: relative;
	left: 15px;
}
@media(max-width :680px) {
	.black__button {
		line-height: 18px;
	}
}
@media(max-width :570px) {
	.black__button {
		padding: 10px 20px 10px 15px;
	}
}
.black__button:hover {
	background-color: #6e6e6e;
	cursor: pointer;
}
.slider__image {
	flex-basis: 50%;
}
@media(max-width :570px) {
	.slider__image {
		flex-basis: auto;
	}
}

/********bests*****************/

.bests {
	margin-bottom: 100px;
}
@media(max-width: 1024px) {
	.products__header {
		margin-bottom: 70px;
	}
}
@media(max-width :768px) {
	.bests {
		margin-bottom: 50px;
	}
}
.bests__inner {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: repeat(3, 1fr);
}
.bests__item {
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
}
@media(max-width: 900px) {
	.bests__item {
		opacity: 0.8;
	}
}
@media(max-width: 605px) {
	.bests__item {
		background-position: top right;
	}
}
.bests__item:hover {
	transform: scale(110%);
	z-index: 2;
}
.bests__item_1 {
	background-image: url(../images/bests1.png);
	grid-column: 1 / 5;
	grid-row: 1 / 2;
	padding: 100px 0px 100px 30px;
}
@media(max-width: 768px) {
	.bests__item_1 {
		padding: 50px 0px 50px 30px;
	}
}
@media(max-width: 605px) {
	.bests__item_1 {
		grid-row: 1 / 2;
		grid-column: 1 / 7;
		padding: 140px 0px 50px 30px;
	}
}
@media(max-width: 425px) {
	.bests__item_1 {
		padding: 60px 0px 30px 30px;
	}
}
.bests__item_2 {
	background-image: url(../images/bests2.png);
	grid-column: 5 / 7;
	grid-row: 1 / 3;
	padding: 320px 0px 40px 30px;
}
@media(max-width: 768px) {
	.bests__item_2 {
		padding: 80px 0px 20px 30px;
	}
}
@media(max-width: 605px) {
	.bests__item_2 {
		grid-row: 2 / 3;
		grid-column: 1 / 7;
		padding: 140px 0px 50px 30px;
	}
}
@media(max-width: 425px) {
	.bests__item_2 {
		padding: 60px 0px 30px 30px;
		background-position: left;
	}
}
.bests__item_3 {
	background-image: url(../images/bests3.png);
	grid-column: 1 / 5;
	grid-row: 2 / 4;
	padding: 270px 0px 140px 30px;
}
@media(max-width: 768px) {
	.bests__item_3 {
		padding: 140px 0px 50px 30px;
	}
}
@media(max-width: 605px) {
	.bests__item_3 {
		grid-row: 3 / 4;
		grid-column: 1 / 7;
	}
}
@media(max-width: 425px) {
	.bests__item_3 {
		padding: 60px 0px 30px 30px;
	}
}
.bests__item_4 {
	background-image: url(../images/bests4.png);
	grid-column: 5 / 7;
	grid-row: 3 / 4;
	padding: 40px 0px 160px 30px
}
@media(max-width: 768px) {
	.bests__item_4 {
		padding: 70px 0px 60px 30px;
	}
}
@media(max-width: 605px) {
	.bests__item_4 {
		grid-row: 4 / 5;
		grid-column: 1 / 7;
		padding: 140px 0px 50px 30px;
	}
}
@media(max-width: 425px) {
	.bests__item_4 {
		padding: 60px 0px 30px 30px;
	}
}
.bests__item-title {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	color: #000;
}
@media(max-width: 1024px) {
	.bests__item-title {
		font-weight: bold
	}
}
.bests__item-link {
	font-size: 10px;
	line-height: 24px;
	text-transform: uppercase;
	position: relative;
}
@media(max-width: 1024px) {
	.bests__item-link {
		font-weight: bold
	}
}
.best__item-link:hover {
	text-decoration: underline;
}
.bests__item-link:after {
	font-family: icomoon;
	content: '\f105';
	position: absolute;
	left: 110%;
}


/******************products*********************/

.products {
	margin-bottom: 35px;
}
@media(max-width: 768px) {
	.products {
		margin-bottom: 15px;
	}
}
@media(max-width: 768px) {
	.products {
		margin-bottom: 10px;
	}
}
.products__inner {}
.products__header {
	text-align: center;
	margin-bottom: 100px;
	text-transform: uppercase;
	font-family: Cairo, sans-serif;
}
@media(max-width: 1024px) {
	.products__header {
		margin-bottom: 60px;
	}
}
@media(max-width: 768px) {
	.products__header {
		margin-bottom: 35px;
	}
}
@media(max-width: 768px) {
	.products__header {
		margin-bottom: 15px;
	}
}
.products__title {
	font-size: 30px;
	font-weight: bold;
	margin: 0px  0px 30px;
}
@media(max-width: 768px) {
	.products__title {
		margin-bottom: 15px;
	}
}
@media(max-width: 425px) {
	.products__title {
		margin-bottom: 10px;
	}
}
.products__text {
	color: #6e6e6e;
}
.products__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.products__item {
}
.products__item_1 {}
.product {
	display: flex;
	flex: 0 0 32%;
	flex-direction: column;
	margin-bottom: 60px;
	font-weight: normal;
	text-transform: uppercase;
	max-height: 450px;
	overflow: hidden;
}
@media(max-width: 768px) {
	.product {
		flex: 0 0 48%;
	}
}
@media(max-width: 435px) {
	.product {
		flex: 0 0 100%;
		margin-bottom: 30px;
	}
}
.product:hover {
	box-shadow: 2px 2px 10px #ccc;
}
.product:hover .product__image:after {
	display: block;
}
.product:hover .product__buttons {
	display: flex;
	/*opacity: 1;*/
}
.product:hover .product__image {
	height: 260px;
}
<<<<<<< HEAD
.product:hover .product__sizes {
	margin-top: 0;
}
=======
>>>>>>> 873e4ec92adbc8053deca127b1e81839bb6dde88
@media(max-width: 1066px) {
	.product:hover .product__image {
	height: 240px;
}
}
.product__image {
	position: relative;
	height: 380px;
	transition: all 0.7s ease;
}
.product__image:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	height: 100%;
	width: 100%;
	background-color: rgba(210,251,251, 0.8);
	display: none;
}
.product__img {
	/*height: 380px;*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.product__buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	z-index: 2;
	transition: all 0.7s ease 0.2;
	display: none;
	/*opacity: 0;*/
}
.product__btn {
	text-transform: uppercase;
	border: 1px solid #000;
	padding: 13px 23px;
}
.product__btn:hover {
	border: 1px solid #fff;
	cursor: pointer;
}
.product__btn_add {
	background-color: #000;
	margin-bottom: 10px;
	color: #fff;
}
.product__btn_show {
	background-color: rgba(255, 255, 255, 0.2);
}
.product__bottom {
	padding: 20px 30px;
}
.product__description {
	display: flex;
	flex-direction: row;
	margin-bottom: 25px;
}
.product__description-title {
	flex: 1 0 70%;
	
}
.product__descriprion-text {
	font-weight: normal;
	color: #8b8b8b;
}
.product__price {
	flex: 1 0 30%;
	display: flex;
	align-items: center;
	justify-content: right;
	font-family: Cairo, sans-serif;
	font-size: 24px;
	color: #00cccc;
}
.product__sizes {
	margin-top: 500px;
	margin-bottom: 20px;
}
.product__sizes-title {}
.product__sizes-text {
	color: #8b8b8b;
}
.product__colors {}
.product__colors-title {
	margin-bottom: 5px;
}
.product__colors-examp {
	display: flex;
	justify-content: flex-start;
}
.product__colors-color {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
	
}
.product__colors-color_1{
	background-color: #ff0033;
}
.product__colors-color_2{
	background-color: #ff4200;
}
.product__colors-color_3{
	background-color: #6666cc;
}

/*****************shopping*********************/

.shopping {
	background-image: url(../images/shopping.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50% 100%;
}
.shopping__wrapper{
	display: flex;
	/*max-width: 50%;*/
}
.shopping__inner {
	display: flex;
	flex: 0 0 40%;
	flex-direction: column;
	padding: 150px 140px 150px 15px;
	text-transform: uppercase;
}
@media(max-width: 550px) {
	.shopping__inner{
		flex: 0 0 50%;
	}
}
@media(max-width: 320px) {
	.shopping__inner{
		flex: 0 0 70%;
	}
}
@media(max-width: 1024px) {
	.shopping__inner{
		padding: 75px 70px 75px 15px;
	}
}
@media(max-width: 880px) {
	.shopping__inner{
		padding: 55px 40px 55px 15px;
	}
}
@media(max-width: 550px) {
	.shopping__inner{
		padding: 35px 20px 35px 15px;
	}
}
.shopping__only {
	font-size: 18px;
	margin-bottom: 20px;
}
@media(max-width: 880px) {
	.shopping__only{
		margin-bottom: 10px;
	}
}
@media(max-width: 550px) {
	.shopping__only{
		font-size: 14px;
	}
}
.shopping__title {
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 25px 0;
}
@media(max-width: 880px) {
	.shopping__title{
		margin: 0 0 15px 0;
		font-size: 25px;
		line-height: 30px;
	}
}
@media(max-width: 550px) {
	.shopping__title{
		font-size: 20px;
		line-height: 25px;
	}
}
.shopping__link {
	font-family: Cairo, sans-serif;
	font-size: 18px;
	color: #666666;
	position: relative;
}
@media(max-width: 550px) {
	.shopping__link{
		font-size: 12px;
	}
}
.shopping__link:hover {
	text-decoration: underline;
}
.shopping__link:after{
	font-family: icomoon;
	content: '\f105';
	position: absolute;
	left: 105px;
}
@media(max-width: 550px) {
	.shopping__link:after {
		left: 75px;
	}
}

/*******************offers************************/

.offers {
	padding-top: 290px;
	background-image: url(../images/offers.png);
	background-repeat: no-repeat;
	background-position: 60% top;
	margin-bottom: 100px;
}
@media(max-width: 1440px) {
	.offers{
		padding-top: 150px;
	}
}
@media(max-width: 1024px) {
	.offers{
		padding-top: 80px;
		margin-bottom: 50px;
	}
}
@media(max-width: 768px) {
	.offers{
		padding-top: 40px;
		background-position: 80% top;
		margin-bottom: 30px;
	}
}
@media(max-width: 550px) {
	.offers{
		padding-top: 30px;
		background-position: 100% top;
	}
}
@media(max-width: 425px) {
	.offers {
		background-image: none;
	}
}
.offers__inner {
	display: flex;
}
.offers__content {
	flex: 0 0 50%;
	padding: 50px 0px 55px 15px;
}

@media(max-width: 1024px) {
	.offers__content{
		padding: 25px 0px 30px 15px;
	}
}
@media(max-width: 550px) {
	.offers__content{
		padding: 12px 0px 15px 15px;
	}
}
@media(max-width: 425px) {
	.offers__content {
		flex: 1 1 100%;
		padding: 12px 15px 15px 15px;
	}
}
.offers__title {
	font-size: 36px;
	line-height: 52px;
	text-transform: uppercase;
	margin: 0px 0px 50px;
}
@media(max-width: 1024px) {
	.offers__title{
		font-size: 30px;
		line-height: 45px;
		margin: 0 0 25px;
	}
}
@media(max-width: 768px) {
	.offers__title{
		font-size: 25px;
		line-height: 35px;
		margin: 0 0 15px;
	}
}

.offers__text {
	font-size: 18px;
	line-height: 30px;
	color: #6e6e6e;
	margin-bottom: 120px;
}
@media(max-width: 1024px) {
	.offers__text{
		line-height: 20px;
		margin: 0 0 15px;
	}
}
@media(max-width: 768px) {
	.offers__text{
		font-size: 14px;
	}
}
@media(max-width: 550px) {
	.offers__text{
		color: #000;
	}
}
.offers__button {}
.offers__image {
	flex: 0 1 50%;
	border-top: 3px solid #000;
	border-right: 3px solid #000;
	border-bottom: 3px solid #000;
	z-index: -1;
}
@media(max-width: 425px) {
	.offers__image {
		/*flex: 0 0 100%;*/
		display: none;
	}
}


/************************form*********************/

.form {
	margin-bottom: 100px;
}
@media(max-width: 1024px) {
	.form {
		margin-bottom: 75px;
	}
}
@media(max-width: 768px) {
	.form {
		margin-bottom: 45px;
	}
}
@media(max-width: 425px) {
	.form {
		margin-bottom: 25px;
	}
}
.form__inner {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-wrap: wrap;
}
.form__text {
	/*flex: 1 1 50%;*/
	font-family:Cairo, sans-serif;
	text-transform: uppercase;
	padding-left: 15px;
	margin: 0 20px 20px 0;
}
.form__intputs {
	/*flex: 1 1 50%;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	padding-right: 30px;
	margin-left: 20px;
}
@media(max-width: 550px) {
	.form__intputs {
		justify-content: start;
	}
}
.form__email {
	padding: 20px;
	width: 280px;
	font-family:Cairo, sans-serif;
	color: #6e6e6e;
	text-transform: uppercase;
	border: 1px solid #000;
	margin-bottom: 5px;
	outline-color: #55dddd;
}
@media(max-width: 345px) {
	.form__email {
		width: 100%;
	}
}
.form__email:hover {
	border-color: #55dddd;
}
.form__submit {
	background-color: #000;
	color: #fff;
	padding: 20px 30px;
	text-transform: uppercase;
	border: 1px solid #000;
}
.form__submit:hover {
	border-color: #55dddd;
	cursor: pointer;
	text-decoration: underline;
}

/****************footer***********************/

.footer {
	padding: 100px 0;
	border-top: 1px solid #ddd;
}
@media(max-width: 1024px) {
	.footer {
		padding: 50px 0;
	}
}
@media(max-width: 560px) {
	.footer {
		padding: 25px 0;
	}
}
.footer__wrapper {
	padding: 0px 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
@media(max-width: 570px) {
	.footer__wrapper {
		justify-content: center;
	}
}
@media(max-width: 425px) {
	.footer__wrapper {
		padding: 0;
	}
}
.footer__logo {
	flex: 0 0 20%;
	justify-self: flex-start;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
@media(max-width: 560px) {
	.footer__logo {
		font-size: 20px;
		line-height: 20px;
	}
}
@media(max-width: 425px) {
	.footer__list-item {
		line-height: inherit;
		font-size: 12px;
	}
}
.footer__logo a:hover {
	cursor: pointer;
}
.footer__list {
	/*flex: 1 0 60%;*/
	margin: 0 20px;
	/*padding: 0px 20px;*/
}
@media(max-width: 570px) {
	.footer__list {
		margin: 0;
	}
}
.footer__list-inner {
	display: flex;
	justify-content: space-between;
}
.footer__list-item {
	line-height: 30px;
	text-transform: uppercase;
	color: #6e6e6e;
	margin-right: 10px;
}
@media(max-width: 425px) {
	.footer__list-item {
		line-height: inherit;
		font-size: 12px;
	}
}
.footer__list-item a:hover {
	color: #000;
}
.footer__social {
	/*flex: 0 0 20%;*/
	display: flex;
	justify-content: space-between;
}
.footer__social-text {
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 15px;
}
@media(max-width: 560px) {
	.footer__text {
		line-height: 20px;
	}
}
.footer__social-links {
	flex: 0.5 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__social-link {
	width: 20px;
	height: 20px;
	position: relative;
}
.footer__social-link:first-child {
	margin-right: 10px;
}
.footer__social-link:hover {
	cursor: pointer;
}
.footer__social-facebook:before {
	font-family: icomoon;
	content: '\f230';
	position: absolute;
	height: 100%;
	width: 100%;
}
.footer__social-twitter:before {
	font-family: icomoon;
	content: '\f099';
	position: absolute;
	height: 100%;
	width: 100%;
}